* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #33475B;
}
header {
  height: 680px;
  width: 100%;
}
/* header-top */
.header-top {
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;
}
.menu-top::after {
  content: "";
  display: table;
  clear: both;
}
.menu-top {
  width: 85%;
  margin: 0 auto;
}
.menu-top .col-left {
  float: left;
  line-height: 60px;
}
.menu-top .col-right {
  float: right;
  line-height: 60px;
  text-align: right;
}
.menu-top .col-left {
  width: 40%;
}
.nav-menu-top li {
  display: inline;
  list-style: none;
  margin-right: 30px;
}
li.english {
  border-right: 1px solid #33475B;
  padding-right: 20px;
}
.nav-menu-top li a {
  text-decoration: none;
  color: #33475B;
}
.menu-top .col-right {
  width: 40%;
}
.nav-menu-bottom li {
  display: inline;
  list-style: none;
  padding: 25px;
}
button.button-orange {
  color: white;
  padding: 15px;
  border-radius: 5px;
  background-color: #FE775A;
}
button.button-orange.nav {
  padding: 10px;
}
button.login {
  color: #FE775A;
  border-color: #FE775A;
  background-color: #F4F9FD;
  padding: 10px;
  border-radius: 5px;
}
/* header-bottom */
.header-bottom {
  height: 60px;
  background-color: #fff;
}
.menu-bottom {
  width: 85%;
  margin: 0 auto;
}
.menu-bottom::after {
  content: "";
  display: table;
  clear: both;
}
.menu-bottom .col-left {
  float: left;
  width: 30%;
  line-height: 60px;
}
.menu-bottom .col-left img {
  height: 20px;
}
.menu-bottom .col-right {
  float: right;
  width: 60%;
  line-height: 60px;
  text-align: right;
}
.menu-bottom .col-right li {
  display: inline;
  list-style: none;
  padding: 15px;
}
.menu-bottom .col-right li a {
  color: #33475B;
  font-weight: bold;
  text-decoration: none;
}
/* header-banner */
.header-banner {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left 100% bottom 260%;
  height: 500px;
  background-color: #FFF3EE;
}
.title-header-banner {
  width: 85%;
  margin: 0 auto;
  padding-top: 70px;
}
.title-header-banner h1 {
  font-size: 55px;
  width: 40%;
  line-height: 65px;
  margin-bottom: 15px;
}
.title-header-banner p {
  width: 40%;
  line-height: 25px;
  margin-bottom: 20px;
}
button.button-orange.banner {
  margin-bottom: 15px;
}
.title-header-banner p.text {
  font-size: 14px;
}
.fine-header {
  height: 60px;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/* main */
main{
  /* height: 2000px; */
  width: 100%;
  background-color: #F4F9FD;
}
/* main-top */
.illustration {
  padding-top: 40px;
  text-align: center;
  line-height: 30px;
}
.illustration  p {
  width: 60%;
  margin: auto;
}
.illustration img {
  /* height: 400px; */
}
.main-top-row {
  width: 85%;
  margin: 30px auto;
  background-color: #fff;
}
.main-top-row::after {
  content: "";
  display: table;
  clear: both;
}
.main-top-row-left,
.main-top-row-right {
  float: left;
}
.main-top-row-left {
  width: 20%;
  margin: 30px 10%;
}
.main-top-row-left img {
  /* height: 120px; */
  margin-bottom: 15px;
}
.main-top-row-right {
  width: 40%;
  margin: 30px 30px 0 10%;
}
.main-top-row-right h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}
.main-top-row-right h4 {
  margin-top: 25px;
  font-size: 14px;
}
.main-top-row-right p {
  line-height: 25px;
}
.main-top-row-right hr {
  width: 180px;
  margin-left: 150px;
  margin-top: -5px;
}
.main-top-row-right ul li {
  margin-top: 20px;
  padding-right: 30px;
  display: inline-block;
  list-style: none;
}
.main-top-row-right ul li i {
  color: #FE775A;
}
.main-top-container-col {
  width: 85%;
  margin: 20px auto;
  /* height: 300px; */
  text-align: center;
}
.main-top-container-col::after {
  content: "";
  display: table;
  clear: both;
}
.main-top-col-left,
.main-top-col-center,
.main-top-col-right {
  float: left;
  background-color: #fff;
  width: 25%
}
.main-top-col-center {
  margin: 0 12.5%
}
.main-top-col-left img,
.main-top-col-center img,
.main-top-col-right img {
  height: 120px;
  margin: 15px 0;
}
.main-top-col-left h3,
.main-top-col-center h3,
.main-top-col-right h3 {
  margin-bottom: 15px;
}
.main-top-col-left p,
.main-top-col-center p,
.main-top-col-right p {
  line-height: 25px;
  margin-bottom: 25px;
}
.main-top-col-left hr,
.main-top-col-center hr,
.main-top-col-right hr {
  width: 240px;
  margin: 0 30px;
}
.main-top-col-left h4,
.main-top-col-center h4,
.main-top-col-right h4 {
  font-size: 14px;
  margin: 20px 0;
}
.main-top-col-left ul li ,
.main-top-col-center ul li ,
.main-top-col-right ul li {
  list-style: none;
  text-align: left;
  margin-left: 30px;
}
.main-top-col-left button ,
.main-top-col-center button ,
.main-top-col-right button {
  margin-top: 30px;
}

.main-top-col-left ul li i,
.main-top-col-center ul li i,
.main-top-col-right ul li i {
  color: #FE775A;
}
/* main-middle */
.main-middle {
  width: 100%;
  height: 400px;
  background-color: #00ABB6;
}
.main-middle-container {
  width: 85%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.main-middle-container h2 {
  padding: 25px 0;
}
.main-middle-container P {
  line-height: 18px;
  margin-bottom: 30px;
}
.main-middle-table {
  width: 85%;
  margin: 0 auto;
}
.main-middle-table {
  padding: 10px;
  line-height: 30px;
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
}
.main-middle-table, td {
  border-right: 1px inset white;
}
.main-middle-table, td:last-child {
  border-right: none;
}
.main-middle-table, tr:nth-child(3) {
  border-bottom: 1px inset white;
}
.main-middle-table, tr:last-child {
  border-bottom: none;
}
tr.numbers {
  font-size: 36px;
  font-weight: bold;
  border-style:
}
td.icon {
  font-size: 16px;
}
td.bold {
  font-weight: bold;
}
td span {
  font-size: 10px;
  font-weight: normal;
  padding-top:5px;
}
br {
   display: block;
   margin: 0;
}
